@import "bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 40pt;
}

body {
  background-color: rgb(40, 40, 40);
  color: white;
  /* text-align: center; */
}

.home-buttons {
  background-color: teal;
  color: white;
  height: 150px;
  width: 300px;
  max-width: 100%;
  font-size: 150%;
  font-family: monospace;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 12px;
  margin: 10px;
}

#button1 {
  position: relative;
  top:23.3px;
}

#home-heads {
  font-family: monospace;
}

#home-head {
  margin-top: -300px;
}

#home-head2 {
  font-size: 20.3px;
}

#home-head3 {
  font-size: 20px;
}

#num-sys-head {
  margin-top: -100px;
}

#binary {
  margin-right: 10px;
  margin-left: 10px;
}

#decimal {
  margin-right: 10px;
  margin-left: 10px;
}

#hex {
  margin-right: 10px;
  margin-left: 10px;
}

.titles {
  margin: 10px;
}

.values {
  width: 500px;
  word-wrap: break-word;
}

#text1 {
  height: 40px;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(60, 60, 60);
  width: 500px;
  margin-bottom: 15px;
}

#calc {
  border-radius: 10px;
  border-color: white;
}

a {
  color: skyblue;
}

a:hover {
  color: rgb(10, 100, 100);
}