@import "bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 40pt;
}

body {
  background-color: rgb(40, 40, 40);
  color: white;
  /* text-align: center; */
}

.home-buttons {
  background-color: rgb(29, 61, 54);
  color: white;
  height: 150px;
  width: 300px;
  max-width: 100%;
  font-size: 150%;
  font-family: monospace;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 12px;
  margin: 10px;
}

.home-buttons:hover {
  background-color: rgb(79, 131, 109);
  border-color: white;
}

#home-heads {
  font-family: monospace;
  margin-top: 0%;
}

#home-head {
  color: skyblue;
}

#home-head2 {
  font-size: 20.3px;
}

#home-head3 {
  font-size: 20px;
}

.titles { /* in ElectronConfig */
  margin: 10px; 
}

.values {
  width: 500px;
  word-wrap: break-word;
}

#text1 {
  height: 40px;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(60, 60, 60);
  width: 350px;
  margin-bottom: 15px;
}

#calc {
  border-radius: 10px;
  border-color: white;
  
}

#calc:hover {
  background-color: rgb(60, 60, 60);
}

a {
  color: skyblue;
}

a:hover {
  color: rgb(62, 112, 101);
}

#input {
  width: 500px; 
  margin: auto;
  /* margin-left: 20%;
  margin-right: 0%; */
}